.gallery {
    min-height: 100%;
    max-width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    margin: 0 auto;
    padding: 24px;
}

.gallery-image {
    width: 360px;
    height: 200px;
}

.basicLightbox {
    background-color: rgba(46, 47, 66, 0.8);
}

.basicLightbox img {
    width: 1112px;
    height: 640px;
}

.modatl-img-title {
    text-align: center;
    margin: 30px 0 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #696ec2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1440px) {
    .basicLightbox img {
        max-width: 80vw;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .basicLightbox img {
        max-width: 90vw;
    }
}